[user]
	name = kballou
	email = kballou@devnulllabs.io
[core]
	editor = vim
[merge]
	ff = only
	tool = gvimdiff
	conflictstyle = diff3
[color]
	status = auto
	branch = auto
	interactive = auto
	diff = auto
[push]
	default = simple
[alias]
	serve = !git daemon --reuseaddr \
                      --port=8000 \
                      --verbose \
                      --base-path=. \
                      --export-all ./.git
	up = !git remote update -p
	branches = branch -a
	tags = tag
	stashes = stash list
	remotes = remote -v
	graph = log --graph --branches --remotes --tags --date-order
[grep]
	extendRegexp = true
	lineNumber = true
[pull]
	ff = only
