[Unit]
Description=Emacs: extensible, self-documenting text editor

[Service]
Type=forking
ExecStart=/usr/bin/emacs --daemon
ExecStop=/usr/bin/emacsclient --eval "(kill-emacs)"
Restart=always
TimeoutStartSec=20

[Install]
WantedBy=default.target
