#!/usr/bin/env bash

export GTK2_RC_FILES="${HOME}/.gtkrc-2.0"

[[ -f ${HOME}/.Xresources ]] && xrdb -merge -I${HOME} ~/.Xresources

export GTK_IM_MODULE=ibus
export XMODIFIERS=@im=ibus
export QT_IM_MODULES=ibus

${HOME}/.local/bin/fehbg &
compton -cCGb &
light-locker &
xbindkeys &
dunst &
ibus-daemon &
remind -z5 -k"notify-send -t 0 'Reminder': %s &" ${HOME}/.reminders &

exec i3
