[Desktop Entry]
Name=Ranger
GenericName=File Browser
Comment=Vim inspired CLI based directory browser
Exec=urxvt -e ranger
Terminal=true
Type=Application
Categories=System;
