<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
    <menu id="root-menu" label="OpenBox 3">
        <menu id="1" label="Development">
            <item label="Eclipse"> <action name="Execute">
                <execute>eclipse</execute>
            </action> </item>
            <item label="IDLE"> <action name="Execute">
                <execute>idle</execute>
            </action> </item>
            <item label="Qt4 Assistant"> <action name="Execute">
                <execute>assistant-qt4</execute>
            </action> </item>
            <item label="Qt4 Designer"> <action name="Execute">
                <execute>designer-qt4</execute>
            </action> </item>
            <item label="Qt4 Linguist"> <action name="Execute">
                <execute>linguist-qt4</execute>
            </action> </item>
            <item label="Qt4 QDbusViewer"> <action name="Execute">
                <execute>qdbusviewer-qt4</execute>
            </action> </item>
        </menu>
        <menu id="2" label="Editors">
            <item label="GVim"> <action name="Execute">
                <execute>gvim</execute>
            </action> </item>
        </menu>
        <menu id="6" label="Graphics">
            <item label="GNU Image Manipulation Program"> <action name="Execute">
                <execute>gimp</execute>
            </action> </item>
            <item label="Gwenview"> <action name="Execute">
                <execute>gwenview</execute>
            </action> </item>
        </menu>
        <menu id="7" label="Multimedia">
            <item label="VideoLAN"> <action name="Execute">
                <execute>vlc</execute>
            </action> </item>
        </menu>
        <menu id="5" label="Network">
            <item label="Chromium"> <action name="Execute">
                <execute>chromium</execute>
            </action> </item>
            <item label="FireFox"> <action name="Execute">
                <execute>firefox</execute>
            </action> </item>
            <item label="Gajim"> <action name="Execute">
                <execute>gajim</execute>
            </action> </item>
            <item label="Opera"> <action name="Execute">
                <execute>opera</execute>
            </action> </item>
            <item label="Vidalia"> <action name="Execute">
                <execute>vidalia</execute>
            </action> </item>
        </menu>
        <menu id="3" label="Office">
            <item label="Okular"> <action name="Execute">
                <execute>okular</execute>
            </action> </item>
        </menu>
        <menu id="19" label="Shells">
            <item label="Terminator"> <action name="Execute">
                <execute>terminator</execute>
            </action> </item>
            <item label="Krusader"> <action name="Execute">
                <execute>krusader</execute>
            </action> </item>
        </menu>
        <menu id="37" label="System">
            <menu id="36" label="Settings">
                <item label="KDE System Settings"> <action name="Execute">
                    <execute>systemsettings</execute>
                </action> </item>
                <item label="NVIDIA X Server Settings"> <action name="Execute">
                    <execute>nvidia-settings</execute>
                </action> </item>
                <item label="Openbox Configuration Manager"> <action name="Execute">
                    <execute>obconf</execute>
                </action> </item>
                <item label="Panel tint2"> <action name="Execute">
                    <execute>tint2conf</execute>
                </action> </item>
                <item label="Preferred Applications"> <action name="Execute">
                    <execute>libfm-pref-apps</execute>
                </action> </item>
                <item label="dconf Editor"> <action name="Execute">
                    <execute>dconf-editor</execute>
                </action> </item>
            </menu>
        </menu>
        <menu id="38" label="Utilities">
            <item label="7-Zip FM"> <action name="Execute">
                <execute>7zFM</execute>
            </action> </item>
            <item label="ScreenSaver Preferences"> <action name="Execute">
                <execute>xscreensaver-command -prefs</execute>
            </action> </item>
        </menu>
        <separator/>
        <menu id="40" label="OpenBox">
            <menu id="client-list-menu"/>
            <item label="Reconfigure"> <action name="Reconfigure"/> </item>
            <separator/>
            <menu id="41" label="Exit">
                <item label="Log Out"> <action name="Exit"/> </item>
                <item label="Reboot">
                    <action name="Execute">
                        <prompt>
                            Are you sure you want to reboot?
                        </prompt>
                        <execute>
                            /sbin/reboot
                        </execute>
                    </action>
                </item>
                <item label="Shutdown">
                    <action name="Execute">
                        <prompt>
                            Are you sure you want to poweroff?
                        </prompt>
                        <execute>
                            /sbin/poweroff
                        </execute>
                    </action>
                </item>
            </menu>
        </menu>
    </menu>
</openbox_menu>
