#!/usr/bin/env xdg-open
[Desktop Entry]
Name=emacsclient
GenericName=Emacs Client
Comment=Shared Emacs Session
Icon=emacs
Exec=emacsclient
Terminal=false
Type=Application
Categories=System;
MimeType=all/text;text/plain;
